<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nurali.kampunggerabah">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.KampungGerabah.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.ProdukEditActivity"></activity>
        <activity android:name=".activities.AdminTransaksiActivity" />
        <activity android:name=".activities.PengrajinTambahProdukActivity" />
        <activity android:name=".activities.PengrajinKatalogProdukActivity" />
        <activity android:name=".activities.ProdukKatalogActivity" />
        <activity android:name=".activities.ProdukDetailActivity" />
        <activity android:name=".activities.DetailProdukActivity" />
        <activity android:name=".activities.AdminTambahAdminActivity" />
        <activity android:name=".activities.AdminTambahPengrajinActivity" />
        <activity android:name=".activities.PengrajinDetailActivity" />
        <activity android:name=".activities.AdminDaftarUmkmActivity" />
        <activity android:name=".activities.AdminPengaturanActivity" />
        <activity android:name=".activities.EditProfilActivity" />
        <activity android:name=".activities.CustomerKeranjangActivity" />
        <activity android:name=".activities.BantuanActivity" />
        <activity android:name=".activities.ProfilActivity" />
        <activity android:name=".activities.PengrajinBerandaActivity" />
        <activity android:name=".activities.AdminBerandaActivity" />
        <activity android:name=".activities.InfoAplikasiActivity" />
        <activity android:name=".activities.SignUpActivity" />
        <activity android:name=".activities.TokoGerabahActivity" />
        <activity android:name=".activities.DaftarUmkmActivity" />
        <activity android:name=".activities.CustomerBerandaActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>